# Files that won't be pushed to github

# Pycharm enviromental variables
venv/
.idea/

# Compiled binaries
__pycache__/
*/__pycache__/

# Local chessboard images and calibration
models/*.npy
images/*.png